@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.SubTitle</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Description</h4>
<br>

<h3>Auteurs: @ViewBag.User1_name et @ViewBag.User2_name</h3>
<h4>@(ViewBag.User_status)s</h4>
<h4>@ViewBag.User_dept</h4>
<h4>@ViewBag.User_school</h4>