@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.User1</h3>
<h4>@ViewBag.User_status</h4>
<h4>@ViewBag.User_dept</h4>
<h4>@ViewBag.User_school</h4>

<address>
    100 rue Duquet<br />
    Sainte-Thérèse, Qc.<br />
    J7E 3G6
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:@ViewBag.User1_email">@ViewBag.User1_email</a><br />
</address>
<h3>@ViewBag.User2</h3>
<h4>@ViewBag.User_status</h4>
<h4>@ViewBag.User_dept</h4>
<h4>@ViewBag.User_school</h4>

<address>
    100 rue Duquet<br />
    Sainte-Thérèse, Qc.<br />
    J7E 3G6
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:@ViewBag.User2_email">@ViewBag.User2_email</a><br />
</address>